// noticia principal - página noticias //

.principal { 
    margin-top: 80px;
    padding: 120px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    &__container { 
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        &-img { 
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        &-item { 
            color: #15006d;
            font-size: 40px;
            text-align: center;
            margin: 30px 0;
        }
    }
}

// anidamientos de Sass //

.statistics {
    margin-top: 80px;
    padding: 120px 20px;
    background-image: url("../Assets/imágenesnoticias/noticia.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

        &__container { 
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            &-item { 
                color: #15006d;
                font-size: 40px;
                text-align: center;
                margin: 30px 0;
    }
    }
}

//   intento hero noticia 2 con Sass //

.hero_2 { 
    margin-top: 0px;
    padding: 120px 20px;

    
    &__container { 
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        &-img { 
            background-repeat: no-repeat;
            background-position: left;
            background-size: 450px 250px;
            background-attachment: scroll;
        }

        &-text { 
            color: #15006d;
            font-size: 40px;
            text-align: right;
            margin: 30px 0;
        }
    }

}

@media (min-with: 576){
    .principal { 
        flex-direction: row;
        justify-content: space-around;
    }
  
    .statistics { 
        flex-direction: row;
        justify-content: space-around;
    }
  }

  @media (min-width: 768px) { 
    .principal { 
        flex-direction: row;
        justify-content: space-between;
    }

    .statistics { 
        flex-direction: row;
        justify-content: space-around;
    }
  }

  @media (mid-width: 992px) { 
    .principal { 
        flex-direction: column;
        justify-content: space-between;
    }

    .statistics { 
        flex-direction: column;
        justify-content: space-around;
    }
  }
